<app-topnav></app-topnav>
<div class="body">
    <div class="box">
        <img src="../../assets/avatar.png" alt="" class="joy">
    </div>
    <div class="container">
        <h3 class="Create">Lets go</h3>
        <input type="text" placeholder="Email" class="Email">
        <input type="password" class="Password" placeholder="Password" >
        <button class="button">Login</button>
        <div class="or">OR</div>
        <div class="apilogin">
            <img src="../../assets/Google.jpg" alt="" srcset="" class="company">
             <img src="../../assets/facebook.jpg" alt="" srcset="" class="company">
             <img src="../../assets/twitter.png" alt="" srcset="" class="company">
             <img src="../../assets/Linkedin.png" alt="" srcset="" class="company">
        </div>
        <div class="Already">didn't have a account then  <a class="Link">Sign in</a></div>
    </div>

    <div class="funmessages">
        Joy is very eager for my replies <br>
        Your joy like friends are also waiting <br>
        for You!!! <br>
        Lets Chaaaat
    </div>
</div>