<app-topnav></app-topnav>

<div class="body">

    <img src="../../assets/happy.gif" alt="" class="happy">

    <div class="liner">
        <div class="content">A platform where you can <br>
                             chat,share your memories <br>
                             with your friends and  <br>
                             Anonlymiles!!!  <br>
                                          -Pradeep
        </div>
        <button class="Letchat">Lets Chat</button>
    </div>


<!-- Community -->

    <div class="head1">
        Community
    </div>

    <div class="box1">
        <img src="../../assets/globally.jpg" class="globally" alt="">
        <div class="community">Our services are wide spread <br>
            around the globe so dont worry <br>
            about any issues regarding its <br>
            experince  <br>
        </div>

        <div class="userscount">
           as of for every 5 seconds a new user is are been get started <br>
           as of you read this a new user is been added <br>
           <div style="color: #DC487C;transition: ease-in-out 0.4s;">{{usercount}}🚀</div> and be menmber of this count
        </div>

        <div class="countries">
            You can have language according to your country of 151 countries: <br>
            😀😁😂🤣😃😄😅😆😉😊😋😎😍😘🥰😗 <br>
            🤨🤔🤩🤗🙂☺😚😙😐😑😶😏🙄😣😥😮😛 <br>
            😌😴🥱😫😪😯🤐😜😝😲🤑☹🤯😨😟😔😓😖 <br>
            <div style="color: #DC487C;">and still more...</div>
        </div>
    </div>


    <!-- Privacy -->
    <div class="head1">
        Privacy
    </div>

    <div class="box1">
        <video autoplay muted loop class="Video">
            <source src="../../assets/Check.mp4" type="video/mp4">
            Your browser does not support HTML5 video.
          </video>

          <div class="matter">
              Every thing matters to use every details of you 
              been encrypted and been Checked   <br>
              <div style="text-align: center;margin-top:10px;">Feel safe that you are under protection</div>
          </div>

          <div class="numbers">
              <div style="margin-right:40px;display: inline;">
                <div style="color: #DC487C;">460+</div> Securtity Checking centers
              </div>
              <div style="margin-right:35px;">
                <div style="color: #DC487C;">1.8+</div> Lakh Employees are Working
              </div>
              <div style="transition: linear 2s;">
                <div style="color: #DC487C;">65000+</div> active securty web bots
              </div>
          </div>
    </div>

    <!-- working -->
    <div class="head1">
        Working
    </div>
    <div class="box2">
       <img src="../../assets/working.gif" style="transition: ease-in-out 2s;"alt="" srcset="">  
       
       <div class="Notes">
           We our team are working 
           for hours to bring a  
           real work experience 
           and provide you a better 
           experience than another 
           Compititor     
           <div style="text-align: end;font-weight: 800;font-size: 14px;">-Pradeep Rajput</div>
       </div>

       <div class="every">Every thing Matters</div>
    </div>


    <!-- End-->
    <div class="head1">
        At End
    </div>

    <!-- <div class="box1"> -->
        
        <div style="text-align: center;">What are you waiting for?  <br>
                          get started today
        </div>

        <button class="Join">Join now</button>        
    <!-- </div> -->


        <!-- Powered By -->
        <div class="head1">
            Powered and driven by
        </div>
    
        <div class="box3">
              <img src="../../assets/Alien.jpg" alt="">
              <img src="../../assets/Planetmotion.gif" alt="" class="planet">
              <div class="end"> <button class="Clickend">Click here</button> to know more about these companies</div>
              <div  class="terms">*terms and conditons apply as per Pradeep Assosiates 2020 Ώ Zodiac coprate</div>
        </div>
</div>
