<app-topnav></app-topnav>
<div class="box">
    <video autoplay muted loop class="Video">
        <source src="../../assets/login.mp4" type="video/mp4">
        Your browser does not support HTML5 video.
      </video>

      <div class="intro">Signup Now <br>
                         Many of them are waiting <br>
                         for You!!!
      </div>
</div>


<div class="loginbox">

</div>

<div class="container">
    <h3 class="Create">Create a account</h3>
    <input type="text" placeholder="Name" class="Name">
    <input type="text" placeholder="Email" class="Email">
    <input type="password" class="Password" placeholder="password" >
    <input type="password" class="CPassword" placeholder="confirm password" >
    <button class="button">Sign in</button>
    <div class="or">OR</div>
    <div class="apilogin">
        <img src="../../assets/Google.jpg" alt="" srcset="" class="company">
         <img src="../../assets/facebook.jpg" alt="" srcset="" class="company">
         <img src="../../assets/twitter.png" alt="" srcset="" class="company">
         <img src="../../assets/Linkedin.png" alt="" srcset="" class="company">
    </div>
    <div class="Already">Already a user  <a class="Link">Login</a></div>
</div>