<div class="sidebar">
    <h3 class="brand">GuruGrace</h3>
    <div class="chat"> <img src="../../assets/chat.svg" style="width: 35px;margin-right: 10px;" alt=""> Chat</div>
    <div class="status"> <img src="../../assets/status.svg" style="width: 35px;margin-right: 10px;" alt="">Status</div>
    <div class="posts"> <img src="../../assets/post.svg" style="width: 35px;margin-right: 10px;" alt="">Posts</div>
    <div class="GGTV"><img src="../../assets/tv.svg" style="width: 35px;margin-right: 10px;" alt="">GGTV</div>
</div>
