.sidebar{
    width: 250px;
    height: 100vh;
    background-color: #F2F5F7;
    margin-left: -0.5%;
    margin-top: -0.5%;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;

}

.brand{
    margin-left: -20px;
    font-family: 'Ramabhadra', sans-serif;
    padding-top: 25px;
    text-align: center;
}

.chat{
    margin-top: 160px;
    text-align: center;
    margin-left: -30px;
}

.status{
    text-align: center;
    margin-left: -30px;
    margin-top: 25px;
}
.posts{
    text-align: center;
    margin-left: -30px;
    margin-top: 25px;

}
.GGTV{
    text-align: center;
    margin-left: -30px;
    margin-top: 25px;

}
